@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
purple: #492359
background: #2a1533
white: #fdffff
headers: #848896
black: #151515
*/


/* ----------- GENERAL -------------- */
* {
    padding: 0;
    margin: 0;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #fdffff;
  
}

body {
    background-color: #151515;
}


h1,h3{
    color:#848896;
}

a {
    text-decoration: none;
    color: inherit;
}

p{ 
    font-family: "Roboto", sans-serif;
    font-weight: 250;
}

.background-gradient{
    background-image: linear-gradient(black,#2a1533);
    /*backup if gradient not supported */
    background-color: black;
}

.center-text{
    text-align: center;
}

.right-text{
    text-align: right;
    padding-right: 7px;
}

.left-text{
    text-align: left;
    padding-left: 7px;
}


.hide-header{
    visibility: hidden;
}

/* ----------- HEADER -------------- */

#logo {
    color: #fdffff;
    text-align: center;
    
}

/* Nav bar */

#navigation {
    margin-top: 5px;
    padding-bottom: 0px;
    background-color: #151515;
    color: #fdffff;
    display:flex;
}

#navigation a {
    border: 2px solid #fdffff;
    padding: 5px 20px;
    text-align: center;
}

#navigation a:hover {
    background-color: #492359;

}

.header-flex{
    display: flex;
    flex-wrap: wrap;
}

.nav-flex{
    flex-grow: 1;
    
}

.logo-flex{
    flex: 1 1 600px;
    border: 2px solid #fdffff;
}

/* Changes nav bar color of the section the user is on */
.current-page{
    color: #fdffff;
    background-color: #492359;
}

/* ----------- BODY -------------- */

#hero {
    background: url("../images/hero.webp") no-repeat center center/cover;
    height: 300px;
    width: 100%;
    position: relative;
    
}

#hero-tickets {
    background: url("../images/hero-tickets.webp") no-repeat center center/cover;
    height: 300px;
    width: 100%;
    position: relative;
    
}

#hero-text {
    background-color: rgb(73, 35, 89, .7);
    position: absolute;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px; 
    top: 180px;
    right: 0px;
    width: 75%;
    max-width: 400px;
    font-size: 20px;
}

#lineup{
display: block;
margin-left: auto;
margin-right: auto;
width: 90%;
max-width: 500px;
}

/*google map embed*/
#map{
padding-bottom: 15px;
padding-top: 10px;
position: relative;
}

#ticket-application-form{
color: #fdffff;
background-color: rgb(73, 35, 89, .3);
text-align: center;
width: 70%;
margin: 15px auto;
padding: 15px;
    
}
.paragraph-break-image {
border-radius: 50%;
border: 5px border black;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
width: 80%;
max-width: 500px;
}

.form-button {
background: black;
height: 40px;
width: 100px;
}

/* ----------- FOOTER -------------- */

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: .3rem;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
}

.copyright-info p {
    font-family: "Roboto", sans-serif;
    font-size: 8px;
 
}

#footer-header{
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
}

/* ----------- MEDIA QUERIES -------------- */
/*large and landscape phones*/
@media screen and (min-width: 576px) {
    .logo-flex{
        flex: 2 1 280px;
    }
}

/*laptops and desktops*/
@media screen and (min-width: 992px) {
    .logo-flex{
        flex: 2 1 500px;
    }
    
    #navigation {
        font-size: 28px;
    }


}