@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------- GENERAL -------------- */
* {
    padding: 0;
    margin: 0;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    background-color: black;
 
}

a {
    text-decoration: none;
    color: inherit;
}

.center-text{
    text-align: center;
}
/* ----------- HEADER -------------- */

#logo {
    color: white;
    text-align: center;
    
}

#hero {
    background: url("../images/hero.webp") no-repeat center center/cover;
    height: 300px;
    width: 100%;
    
}
/* Nav bar */

#navigation {
    margin-top: 5px;
    padding-bottom: 0px;
    background-color: black;
    color: white;
    display:flex;
    width: 100%;
}

#navigation > * {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}

#navigation a {
    border: 2px solid white;
    padding: 5px 20px;
    text-align: center;
}

#navigation a:hover {
    background-color: white;
    color: black;
}

.header-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-flex{
    flex-grow: 1;
}

.logo-flex{
    flex: 1 0 300px;
    border: 2px solid white;
}


/* Changes nav bar color of the section the user is on */
.current-page{
    color: black;
    background-color: white;
}

/* ----------- BODY -------------- */

/* ----------- FOOTER -------------- */

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding-top: 1rem;
}
/* ----------- MEDIA QUERIES -------------- */
